<div class="card card-outline card-primary larger-card">
  <div class="card-header text-center">
    <div>
      <h1><i class="fas fa-user"></i> Novo Cliente</h1>
    </div>
  </div>
  <div class="card-body">
    <%= form_with model: @cliente, url: clientes_path, html: { class: 'form' } do |form| %>
      <div class="row" style="justify-content: center;">
        <div class="card col-md-5">
          <div class="form-group">
            <%= form.label :tipo_cliente, "Tipo de Cliente" %>
            <%= form.select :tipo_cliente, ['Pessoa Fisica', 'Pessoa Juridica' ], class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= form.label :nome, "Nome" %>
            <%= form.text_field :nome, class: 'form-control', placeholder: "Nome" %>
            <% @cliente.errors.full_messages_for(:nome).each do |message| %>
              <div style="color: red;"><%= "Digite o Nome "%></div>
            <% end %>
          </div>

          <div class="form-group">
            <%= form.label :cpf, "CPF"%>
            <%= form.text_field :cpf, class: 'form-control', placeholder: "CPF" %>
          </div>

          <div class="form-group cnpj" style="display: none;">
            <%= form.label :cnpj, "CNPJ" %>
            <%= form.text_field :cnpj, class: 'form-control', placeholder: "CNPJ" %>
          </div>
          

          <div class="form-group inscricao-estadual" style="display: none;">
            <%= form.label :inscricao_estadual, "Inscrição Estadual" %>
            <%= form.text_field :inscricao_estadual, class: 'form-control', placeholder: "Inscrição Estadual" %>
          </div>

          <div class="form-group inscricao-municipal" style="display: none;">
            <%= form.label :inscricao_municipal, "Inscrição Municipal" %>
            <%= form.text_field :inscricao_municipal, class: 'form-control', placeholder: "Inscrição Municipal" %>
          </div>

          <div class="form-group ramo-de-atividade" style="display: none;">
            <%= form.label :ramo_de_atividade, "Ramo de Atividade" %>
            <%= form.text_field :ramo_de_atividade, class: 'form-control', placeholder: "Ramo de Atividade" %>
          </div>

          <div class="form-group cod-ibge" style="display: none;">
            <%= form.label :cod_ibge, "Código IBGE" %>
            <%= form.text_field :cod_ibge, class: 'form-control', placeholder: "Código IBGE" %>
          </div>
        </div>

        <div class="col-md-5">
          <div class="form-group">
            <%= form.label :cep, "CEP" %>
            <%= form.text_field :cep, class: 'form-control', placeholder: "CEP" %>
          </div>

          <div class="form-group">
            <%= form.label :logradouro, "Logradouro" %>
            <%= form.text_field :logradouro, class: 'form-control', placeholder: "Logradouro" %>
          </div>

          <div class="form-group">
            <%= form.label :bairro, "Bairro" %>
            <%= form.text_field :bairro, class: 'form-control', placeholder: "Bairro" %>
          </div>

          <div class="form-group">
            <%= form.label :localidade, "Localidade" %>
            <%= form.text_field :localidade, class: 'form-control', placeholder: "Localidade" %>
          </div>

          <div class="form-group">
            <%= form.label :uf, "UF" %>
            <%= form.text_field :uf, class: 'form-control', placeholder: "UF" %>
          </div>

          <div class="form-group">
            <%= form.label :obs, "Observação" %>
            <%= form.text_area :obs, class: 'form-control', placeholder: "Observação" %>
          </div>
        </div>
      </div>

      <div class="mt-3">
        <%= form.submit 'Salvar', class: 'btn btn-block btn-primary' %>
      </div>
    <% end %>
  </div>
</div>