<h1>Lista de clientes</h1>
<div class="card card-primary">
  <div class="card-header">
    <strong> Cliente : Pessoa Física</strong>
  </div>
  <div class="card-body">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% @clientes.each do |cliente| %>
        <% if cliente.tipo_cliente === 'Pessoa Fisica' %>
        <tr>
          <td><%= cliente.nome %></td>        
          <td>
            <%= link_to "Detalhes", cliente_path(cliente), class: "btn btn-primary btn-sm" %>
            <%= link_to "Editar", edit_cliente_path(cliente), class: "btn btn-warning btn-sm" %>
            <%= link_to "Visualizar Compras", compras_cliente_path(cliente), class: "btn btn-warning btn-sm" %>

          </td>
        </tr>
        <% end %>
          
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<div class="card card-primary">
  <div class="card-header">
    <strong>Cliente : Pessoa Juridica</strong>
  </div>
  <div class="card-body">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% @clientes.each do |cliente| %>
        <% if cliente.tipo_cliente === 'Pessoa Juridica' %>
        <tr>
          <td><%= cliente.nome %></td>       
          <td>
            <%= link_to "Detalhes", cliente_path(cliente), class: "btn btn-primary btn-sm" %>
            <%= link_to "Editar", edit_cliente_path(cliente), class: "btn btn-warning btn-sm" %>
            <%= link_to "Visualizar Compras", compras_cliente_path(cliente), class: "btn btn-warning btn-sm" %>

          </td>
        </tr>
        <% end %>
          
        <% end %>
      </tbody>
    </table>
  </div>
</div>

