<h1>Pagina inicial</h1>

<% if user_signed_in? %> 
<%= current_user.wallet.balance%>
 <div> Welcome <%= current_user.email %> </div> 
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
<% else %>
  <%= button_to "Sign in", new_user_session_path %> 

<% end %>



<ul>
    <li><%= link_to "Abrir WALLET/CAIXA", new_wallet_path(user_id: current_user.id)%></li>
    --------------------------
    <li><%= link_to "Adicionar Produtos", produtos_path%></li>
    <li><%= link_to "Estoque", inventorylists_path%></li>
    <li><%= link_to "Fazer uma Carrinho", vendas_path%></li>
    <li><%= link_to "Finalizar Vendas", cartlist_orderables_path%></li>
    <li><%= link_to "Fornecedores", fornecedores_path%></li>
    <li><%= link_to "clientes", clientes_path%></li>
    <li><%= link_to "Historico de Vendas Geral", clientes_path%></li>


</ul>


