<h1>lista de carrinhos</h1>
<table class="table table-hover">
    <thead>
      <tr>
        <th>Data</th>
      <th>Cliente</th>
      <th>nome do produto</th>
      <th>unidade</th>
      <th>quantidade</th>
      <th>valor parcial</th>
      <th>valor total</th>
      <th>forma de forma_de_pagamento</th>
      </tr>
    </thead>
    <tbody>
      <% @cartlist.each do |cartlist| %>
        <tr>
          <% if cartlist.forma_de_pagamento === 1 %>
            <td><%= cartlist.id%></td>
            <td>DD/MM/AAAA</td>        
            <td>A VISTA</td>           
            <td><%= cartlist.cliente.nome %></td>
            <td><%= cartlist.valor%></td>
            <td><%= link_to 'Finalizar Venda', show_path(cartlist.id) %></td>
          <% end %>
        </tr>        
      <% end %>
    </tbody>
</table>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Data</th>
      <th>Cliente</th>
      <th>nome do produto</th>
      <th>unidade</th>
      <th>quantidade</th>
      <th>valor parcial</th>
      <th>valor total</th>
      <th>forma de forma_de_pagamento</th>
    </tr>
  </thead>
  <tbody>
    <% @cartlist.each do |cartlist| %>
      <tr>
        <% if cartlist.forma_de_pagamento === 2 %>
          <td><%= cartlist.id%></td>
          <td>DD/MM/AAAA</td>        
          <td>A PRAZO</td>           
          <td><%= cartlist.cliente.nome %></td>
          <td><%= cartlist.valor%></td>
          <td><%= link_to 'Finalizar Venda', show_path(cartlist.id) %></td>
        <% end %>
      </tr>        
    <% end %>
  </tbody>
</table>
