<h1>Relatório de Vendas</h1>

<% @cartlists.each do |cartlist| %>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-primary card-outline">
          <div class="card-header">
            <h3 class="card-title">Cliente: <%= cartlist.cliente.nome %>| Data: <%= cartlist.data %></h3>
          </div>
          
          <div class="card-body p-0">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Produto</th>
                  <th>Quantidade</th>
                  <th>Unidade</th>        
                  <th>Valor Parcial</th>    
                </tr>
              </thead>

              <tbody>
                <% cartlist.cartlist_orderables.each do |cartlist_orderable| %>
                  <tr>
                    <td><%= cartlist_orderable.produto.nome %></td>
                    <td><%= cartlist_orderable.quantity %></td>
                    <td><%= cartlist_orderable.produto.unidade %></td>
                    <td><%= cartlist_orderable.total %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>

            <% if cartlist.desconto != 0 %>
              <div class="card-footer">        
                <strong>Desconto:</strong> <%= cartlist.desconto%>
              </div>

              <div class="card-footer">        
                <strong>Total:</strong> <%= cartlist.valor %>
              </div>
            <% else %>
              <div class="card-footer">        
                <strong>Total:</strong> <%= cartlist.valor %>
              </div>
            <% end %>

            

            
            

            <div class="card-footer">
              <strong>Forma de Pagamento:</strong> <%= cartlist.forma_de_pagamento %>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
<% end %>
