<h1>Relatório de Vendas</h1>

<% @cartlists.each do |cartlist| %>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-primary card-outline">
          <div class="card-header">
            <strong><%="Cliente: #{cartlist.cliente.nome} | Data: #{cartlist.data&.strftime('%d/%m/%Y')}"%> </strong>
          </div>
          
          <div class="card-body p-0">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Produto</th>
                  <th>Quantidade</th>
                  <th>Unidade</th>        
                  <th>Valor Parcial</th>    
                </tr>
              </thead>

              <tbody>
                <% cartlist.cartlist_orderables.each do |cartlist_orderable| %>
                  <tr>
                    <td><%= cartlist_orderable.produto.nome %></td>
                    <td><%= cartlist_orderable.quantity %></td>
                    <td><%= cartlist_orderable.produto.unidade %></td>
                    <td><%= number_to_currency(cartlist_orderable.total, unit: 'R$', separator: ',', delimiter: '.')%></td>
                    
                  </tr>
                <% end %>
              </tbody>
            </table>

            <% if cartlist.desconto == 0 && cartlist.acrescimo == 0 %>
              <div class="card-footer">        
                <strong>Total:</strong> <%= number_to_currency(cartlist.valor, unit: 'R$', separator: ',', delimiter: '.') %>
              </div>
            <% end %>

            <% if cartlist.desconto != 0 && cartlist.acrescimo == 0  %>
              <div class="card-footer">        
                <strong>Desconto:</strong> <%= number_to_currency(cartlist.desconto, unit: 'R$', separator: ',', delimiter: '.') %>
              </div>

              <div class="card-footer">        
                <strong>Total:</strong> <%= number_to_currency(cartlist.valor, unit: 'R$', separator: ',', delimiter: '.') %>
              </div>
            <% end %>

            <% if cartlist.desconto == 0 && cartlist.acrescimo != 0  %>
              <div class="card-footer">        
                <strong>Acréscimo:</strong> <%= number_to_currency(cartlist.acrescimo, unit: 'R$', separator: ',', delimiter: '.') %>
              </div>

              <div class="card-footer">        
                <strong>Total:</strong> <%= number_to_currency(cartlist.valor, unit: 'R$', separator: ',', delimiter: '.') %>
              </div>
            <% end %>    


            <div class="card-footer">
              <strong>Forma de Pagamento:</strong> 
              <% if cartlist.forma_de_pagamento === 1 %>
                <%= "A VISTA" %>
              <% else %>
                <%= "A PRAZO" %>
              <% end %>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
<% end %>
