<%if  @wallet_last.caixa_status === 0 %>
  <div class="card card-primary">
    <div class="card-header">      
      <div class="form-inline" style="justify-content: space-between;">
        <h1><%="Saldo do dia: #{number_to_currency(@wallet_last.balance, unit: 'R$' , separator: ',' , delimiter: '.' )}" %></h1>
        <%= form_with(url: fechar_caixa_path) do |f| %>
          <%= f.hidden_field :wallet_id, value: @wallet_last.id %>
          <%= f.hidden_field :data, value: @wallet_last.data %>

          <%= f.submit "Fechar o Caixa", class: "btn btn-warning" %>
        <% end %>
      </div>
    </div>
    <div class="card-body">    
      <div class="row">
        <div class="col-md-6">
          <div class="card border border-primary">
            <div class="card-body ">
              <%= form_with(url: reforco_caixa_path) do |f| %>
                <%= f.hidden_field :wallet_id, value: @wallet_last.id %>
                <%= f.hidden_field :data, value: @wallet_last.data %>
      
                <div class="form-group">
                  <%= f.label :valor, "Valor Reforço" %>
                  <%= f.number_field :valor, step:0.01, class: "form-control", placeholder: "Valor", step: 0.01 %>
                </div>
      
                <div class="form-group">
                  <%= f.label :obs, "Justificativa" %>
                  <%= f.text_area :obs, class: "form-control", placeholder: "Justificativa" %>
                </div>
      
                <%= f.submit "Reforço", class: "btn btn-primary btn-sm" %>
              <% end %>
            </div>
          </div>
        </div>
          
        
        <div class="col-md-6">
          <div class="card border border-danger">
            <div class="card-body">
              <%= form_with(url: retirar_caixa_path) do |f| %>
                <%= f.hidden_field :wallet_id, value: @wallet_last.id %>
                <%= f.hidden_field :data, value: @wallet_last.data %>
      
                <div class="form-group">
                  <%= f.label :valor, "Valor Retirada" %>
                  <%= f.number_field :valor, step:0.01, class: 'form-control', placeholder: "Valor", step: 0.01%>

                </div>
      
                <div class="form-group">
                  <%= f.label :obs, "Justificativa" %>
                  <%= f.text_area :obs, class: "form-control", placeholder: "Justificativa" %>
                </div>
      
                <%= f.submit "Retirada", class: "btn btn-primary btn-sm" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <h1>Reforços e Retiradas</h1>
      <table class="table table-bordered table-hover mt-4">
        <thead>
          <tr>
            <th>Data</th>
            <th>Valor</th>
            <th>Justificativa</th>
            <!--
            <th>Ações</th>
            -->
          </tr>
        </thead>
        
        <tbody>
          <% @list_wallets.each do |list_wallet| %>
            <% if list_wallet.data === @wallet_last.data %>          
              <tr>
                <td><%= list_wallet.data.strftime("%d/%m/%Y") %></td>
                <% if list_wallet.tipo === 1  %>
                  <td style="color: blue;"><%="#{number_to_currency(list_wallet.valor, unit: 'R$ +' , separator: ',' , delimiter: '.' )}" %></td>
                <% else %>
                  <td style="color: red;"><%="#{number_to_currency(list_wallet.valor, unit: 'R$ -' , separator: ',' , delimiter: '.' )}" %></td>
                <% end %>
                
                
                <td><%= list_wallet.obs %></td>
                <!--
                <td>
                  <%= link_to 'Detalhes', list_wallet, class: 'btn btn-info btn-sm' %>
                  <%= link_to 'Editar', edit_list_wallet_path(list_wallet), class: 'btn btn-warning btn-sm' %>
                  <%= link_to 'Excluir', list_wallet, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
                </td>
                -->
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

<%else%>

  <div class="card card-primary">

    <div class="card-header d-flex justify-content-between align-items-center">
      <div>
        <strong><%= "Saldo de Abertura: #{number_to_currency(@wallet_last.valor_inicial, unit: 'R$' , separator: ',' , delimiter: '.' )}" %></strong>
      </div>
  
      <div>
        <strong><%= "Saldo de Fechamento: #{number_to_currency(@wallet_last.valor_final, unit: 'R$' , separator: ',' , delimiter: '.' )}" %></strong>
      </div>
    </div>

    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Data</th>
          <th>Valor</th>
          <th>Justificativa</th>
          <!--
          <th>Ações</th>
          -->
        </tr>
      </thead>
      
      <tbody>
        <% @list_wallets.each do |list_wallet| %>
          <% if list_wallet.data === @wallet_last.data %> 
            <tr>
              <td><%= list_wallet.data.strftime("%d/%m/%Y") %></td>
              <% if list_wallet.tipo === 1  %>
                <td style="color: blue;"><%="#{number_to_currency(list_wallet.valor, unit: 'R$ +' , separator: ',' , delimiter: '.' )}" %></td>
                <%= %>
              <% else %>
                <td style="color: red;"><%="#{number_to_currency(list_wallet.valor, unit: 'R$ -' , separator: ',' , delimiter: '.' )}" %></td>
              <% end %>
              
              
              <td><%= list_wallet.obs %></td>
              <!--
              <td>
                <%= link_to 'Detalhes', list_wallet, class: 'btn btn-info btn-sm' %>
                <%= link_to 'Editar', edit_list_wallet_path(list_wallet), class: 'btn btn-warning btn-sm' %>
                <%= link_to 'Excluir', list_wallet, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
              </td>
              -->
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <div class="card-footer">
      <strong><h1>Saldo do dia:</h1></strong>
      <% if @wallet_last.balance >= 0  %>
        <div style="color: blue;">
          <%= number_to_currency(@wallet_last.balance, unit: 'R$', separator: ',', delimiter: '.' ) %>
        </div>
      <% else %>
        <div style="color: red;">
          <%= number_to_currency(@wallet_last.balance, unit: 'R$', separator: ',', delimiter: '.' ) %>
        </div>
      <% end %>
    </div>
    
    
  </div>
    



<div class="card card-primary">
  <div class="card-header">
    <strong>Entradas e Saidas</strong>
  </div>
  <div class="card-body">
      <div class="row">
          <div class="col-md-6">
              <div class="card border border-primary">
                  <div class="card-body">
                      <h5 class="card-title">Entradas</h5>
                      <table class="table table-bordered table-hover mt-4">
                          <thead>
                              <tr>
                                  <th>Valor</th>
                                  <th>Justificativa</th>
                              </tr>
                          </thead>
                          <tbody>
                              <% @list_wallets.each do |list_wallet| %>
                                  <% if list_wallet.data === @wallet_last.data %> 
                                      <% if list_wallet.tipo === 1  %>
                                          <tr>
                                              <td style="color: blue;"><%="#{number_to_currency(list_wallet.valor, unit: 'R$ +' , separator: ',' , delimiter: '.' )}" %></td>
                                              <td><%= list_wallet.obs %></td>
                                          </tr>
                                      <% end %>
                                  <% end %>
                              <% end %>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>

          <div class="col-md-6">
            <div class="card border border-danger">
                  <div class="card-body">
                      <h5 class="card-title">Saídas</h5>
                      <table class="table table-bordered table-hover mt-4">
                          <thead>
                              <tr>
                                  <th>Valor</th>
                                  <th>Justificativa</th>
                              </tr>
                          </thead>
                          <tbody>
                              <% @list_wallets.each do |list_wallet| %>
                                  <% if list_wallet.data === @wallet_last.data %> 
                                      <% if list_wallet.tipo != 1  %>
                                          <tr>
                                              <td style="color: red;"><%="#{number_to_currency(list_wallet.valor, unit: 'R$ -' , separator: ',' , delimiter: '.' )}" %></td>
                                              <td><%= list_wallet.obs %>
                                              </td>
                                          </tr>
                                      <% end %>
                                  <% end %>
                              <% end %>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


<% end %>