<div class="card card-outline card-primary">
  <div class="card-header">
    <h1><%="Caixa Data: #{@wallet_last.data&.strftime('%d/%m/%Y')}"%></h1>
  </div>
  
  <div class="card-body">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Valor</th>
          <th>Data</th>
          <th>Reforço Aplicado</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td><%=number_to_currency(@wallet_last.balance, unit: 'R$' , separator: ',' , delimiter: '.' ) %></td>
            <td><%= @wallet_last.data %></td>
            <td><%= @wallet_last.reforco %></td>
          </tr>
      </tbody>
    </table>
  </div>

  <div class="card-footer">
    <div class="form-inline">

      <%= form_with(url: reforco_caixa_path) do |f| %>
        <%= f.hidden_field :wallet_id, value: @wallet_last.id %>
        <%= f.hidden_field :data, value: @wallet_last.data %>
        <%= f.number_field :valor, placeholder: "Valor"%>
        <%= f.text_field :obs, placeholder: "Justificativa"%>
        <%= f.submit "Reforço", class: "btn btn-primary btn-sm mr-1" %>
      <% end %>

      <%= form_with(url: reforco_caixa_path) do |f| %>
        <%= f.hidden_field :wallet_id, value: @wallet_last.id %>
        <%= f.hidden_field :data, value: @wallet_last.data %>
        <%= f.number_field :valor, placeholder: "Valor"%>
        <%= f.text_field :obs, placeholder: "Justificativa"%>
        <%= f.submit "Retirada", class: "btn btn-primary btn-sm mr-1" %>
      <% end %>
      <button>fechar caixa</button>
    </div>
  </div>
</div>

<div class="card card-outline card-primary">
  <div class="card-body">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>wallet_id</th>
          <th>Data</th>
          <th>valor</th>
          <th>obs</th>
        </tr>
      </thead>
      <tbody>
        <%= @list_wallets.each do |list_wallet| %>
          <tr>
            <td><%=list_wallet.wallet_id%></td>
            <td><%=list_wallet.data%></td>
            <td><%=list_wallet.valor%></td>
            <td><%=list_wallet.obs%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>