<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card border border-success">
        <div class="card-header">
          <% if @cart.data === nil %>

            <%= form_with(url: data_path) do |f| %>
              <%= f.date_field :data, placeholder: "Data" %>
              <%= button_tag(type: 'submit', class: 'btn btn-success btn-sm mr-3') do %>
                <i class="fa fa-solid fa-check"></i>
              <% end %>
            <% end %>

          <% else %>   

            <% last_client_name = nil %>
            <% @cart.orderables.each do |orderable| %>
              <h3 class="card-title justify-content-start " style="float: inline-end;">
                <% if orderable.cliente.nome != last_client_name %>            
                  <strong><%="Cliente: #{orderable.cliente.nome} | Data: #{@cart.data&.strftime('%d/%m/%Y')}"%> </strong>
                <% end %>
                <% last_client_name = orderable.cliente.nome %>
              </h3>
            <% end %>          

            <%= button_to empty_cart_path, data: { confirm: 'Deseja esvaziar o carrinho?' }, class: 'btn btn-danger btn-sm ' do %>
              <i class="far fa-trash-alt"></i>Esvaziar Carrinho
            <% end %>

          <% end %>
          

        </div>

        
        


        <div class="card-body p-0">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Nome do Produto</th>
                <th>Preço Unitário</th>
                <th>Editar</th>
                <th>Total Parcial</th>
              </tr>
            </thead>

            <tbody>
              <% has_avista_button = false %>
              <% has_aprazo_button = false %>
              

              <% @cart.orderables.each do |orderable| %>
                <% valor_total = @cart.total %>
                <% product = orderable.produto %>
                <tr>
                  <td><%= product.nome %></td>
                  <td><%= number_to_currency(product.preco, unit: 'R$', separator: ',', delimiter: '.') %></td>
                  <td>
                    <div class="form-inline">
                      <%= form_with(url: add_path) do |f| %>
                        <%= f.hidden_field :id, value: product.id %>
                        <%= f.number_field :quantity, value: orderable.quantity, min: 0, class: "form-control"%>
                        <%= f.submit "Atualizar", class: "btn btn-success btn-sm mr-1" %>
                      <% end %>
          
                      <%= form_with(url: remove_path) do |f| %>
                        <%= f.hidden_field :id, value: orderable.id %>
                        <%= f.submit "Remover", class: "btn btn-danger btn-sm " %>
                      <% end %>
                    </div>
                  </td>
                  <td><%= number_to_currency(orderable.total, unit: 'R$', separator: ',', delimiter: '.')  %></td>  
                               
                </tr>
              <% end %>
            </tbody>
          </table>

          <div class="card-header">
            <%= "TOTAL :#{number_to_currency(@cart.total, unit: 'R$', separator: ',', delimiter: '.')}" %>
          </div>

          <div class="card-header">        
            <div class="form-inline">
              
              <% if @cart.desconto.zero? && @cart.acrescimo.zero? %>
                <%= form_with(url: aplicar_desconto_path) do |f| %>
                  <%= f.number_field :desconto, placeholder: "Desconto" %>
                  <%= button_tag(type: 'submit', class: 'btn btn-success btn-sm mr-3') do %>
                    <i class="fa fa-solid fa-check"></i>
                  <% end %>
                <% end %>
              
                <%= form_with(url: aplicar_acrescimo_path) do |f| %>
                  <%= f.number_field :acrescimo, placeholder: "Acrescimo" %>
                  <%= button_tag(type: 'submit', class: 'btn btn-success btn-sm mr-3') do %>
                    <i class="fa fa-solid fa-check"></i>
                  <% end %>
                <% end %>
              
              <% elsif @cart.desconto != 0 %>
                <%= "Desconto Aplicado: R$ #{number_to_currency(@cart.desconto, unit: 'R$', separator: ',', delimiter: '.')}" %>
                
              
              <% elsif @cart.acrescimo != 0 %>
                <%= "Acrescimo Aplicado: R$ #{number_to_currency(@cart.acrescimo, unit: 'R$', separator: ',', delimiter: '.')}" %>
              <% end %>
          </div>

          <div class="card-footer">
            Forma de Pagamento :
            <%= render "carts/vistaprazo" %>
          </div>

        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->