<h1>Adiconar produto ao estoque</h1>

<%= form_with model: @estoque do |form| %>
    <div>
    <%= form.label :user_id %><br>
    <%= form.text_field :user_id %>
  </div>


  <div>
    <%= form.label :produto_id %><br>
    <%= form.text_field :produto_id %>
  </div>


  <div>
    <%= form.label :quantidade %><br>
    <%= form.text_field :quantidade %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
