<table class="table table-hover">
  <thead>
    <tr>
      <th>Nota</th>
      <th>Serie</th>
      <th>Data de Emissao</th>
      <th>Data de Recebimento</th>
      <th>Total da Nota</th>
      <th>Total Produtos</th>
      <th>Desconto</th>
      <th>Acrescimos</th>
      <th>Frete</th>
    </tr>
  </thead>
  <tbody>
    <% @compras.each do |compra| %>
      <tr>
        <td><%= compra.numero_nota %></td>
        <td><%= compra.serie %></td>
        <td><%= compra.data_emissao %></td>
        <td><%= compra.data_recebimento %></td>
        <td><%= compra.total_nota %></td>
        <td><%= compra.total_produtos %></td>
        <td><%= compra.desconto %></td>
        <td><%= compra.acrescimos %></td>
        <td><%= compra.frete %></td>
      </tr>
    <% end %>
  </tbody>
</table>