<div class="card card-primary">
  <div class="card-header">
      <h3 class="card-title">Lista de Compras fechado</h3>
  </div>
  <div class="card-body">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Data Recebimento</th>
          <th>Fornecedor</th>
          <th>Nota</th>
          <th>Serie</th>
          <th>Total da Nota</th>
          <th>Total Produtos</th>
          <th>Desconto</th>
          <th>Acrescimos</th>
          <th>Frete</th>
          <th>Ações</th>
        </tr>
      </thead>
      
      <tbody>
        
        <% @compras.each do |compra| %>
          <% if compra.tipo === 1 %>
            <tr>
              <td><%= compra.data_recebimento.strftime("%d/%m/%Y") %></td>
              <td><%= compra.fornecedor.nome %></td>
              <td><%= compra.numero_nota %></td>
              <td><%= compra.serie %></td>
              <td><%= compra.total_nota %></td>
              <td><%= compra.total_produtos %></td>
              <td><%= compra.desconto %></td>
              <td><%= compra.acrescimos %></td>
              <td><%= compra.frete %></td>
              <td><%= link_to "Incluir Produtos", compra_path(compra), class: "btn btn-primary btn-sm" %></td>
            </tr>
          <% else %>
            <tr>
              <td><%= compra.data_recebimento.strftime("%d/%m/%Y") %></td>
              <td><%= compra.fornecedor.nome %></td>
              <td><%= compra.numero_nota %></td>
              <td><%= compra.serie %></td>
              <td><%= compra.total_nota %></td>
              <td><%= compra.total_produtos %></td>
              <td><%= compra.desconto %></td>
              <td><%= compra.acrescimos %></td>
              <td><%= compra.frete %></td>
              <td><%= link_to "Detalhes", compra_path(compra), class: "btn btn-primary btn-sm" %></td>
            </tr>
          <% end %>
        
        <% end %>
      </tbody>
    </table>
  </div>
</div>

