<table class="table table-hover">
    <thead>
      <tr>
        <th>Nota</th>
        <th>Serie</th>
        <th>Data de Emissao</th>
        <th>Data de Recebimento</th>
        <th>Total da Nota</th>
        <th>Total Produtos</th>
        <th>Desconto</th>
        <th>Acrescimos</th>
        <th>Frete</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= @compra.numero_nota %></td>
          <td><%= @compra.serie %></td>
          <td><%= @compra.data_emissao %></td>
          <td><%= @compra.data_recebimento %></td>
          <td><%= @compra.total_nota %></td>
          <td><%= @compra.total_produtos %></td>
          <td><%= @compra.desconto %></td>
          <td><%= @compra.acrescimos %></td>
          <td><%= @compra.frete %></td>
        </tr>
    </tbody>
</table>

<table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Unidade</th>
        <th>Preço</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @list_compras.each do |compra| %>
        <tr>
          <td><%= compra.produto.nome %></td>
          <td><%= compra.quantity %></td>
  

          
        </tr>
      <% end %>
    </tbody>
  </table>


<div class="card">
  <div class="card-body">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Unidade</th>
          <th>Preço</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% @produtos.each do |produto| %>
          <tr>
            <td><%= produto.nome %></td>
            <td><%= produto.unidade %></td>
            <td><%= number_to_currency(produto.preco) %></td>
            
            <td>
              <%= form_with(url: incluir_produtos_path) do |form| %>
                <%= form.number_field :compra_id , value:@compra.id%>
                <%= form.number_field :produto_id , value:produto.id%>

                <%= form.number_field :quantity, placeholder: 'Quantidade' %>
                <%= button_tag(type: 'submit', class: 'btn btn-primary btn-sm') do %>
                  Incluir na compra
                <% end %>
              <% end %>
            </td>   
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>