<%= form_with model: @produto do |form| %>
  <div>
    <%= form.label :nome %><br>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :preco %><br>
    <%= form.text_area :preco %><br>
  </div>
 

  <div>
    <%= form.submit %>
  </div>
<% end %>
