<div id="<%= dom_id produto %>">
    <div style="display:flex;justify-content:space-between;margin: 0em 5em;">
      <strong>Name:</strong>
      <%= produto.nome %>
      <strong>Price:</strong>
      <%= produto.preco %>
      <%= form_with(url: add_path) do |f| %>
        <%= f.hidden_field :id, value: produto.id %>
        <%= f.number_field :quantity, value: 0, min: 1 %>
        <%= f.submit "Add To Cart" %>
      <% end %>
    </div>
  </div>
  