<p>Selecione a quantidade e adicione no estoque</p>
<div class="card">
  <div class="card-body">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Unidade</th>
          <th>Preço</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% @produtos.each do |produto| %>
          <tr>
            <td><%= produto.nome %></td>
            <td><%= produto.unidade %></td>
            <td><%= number_to_currency(produto.preco) %></td>
            
          <!--  <td>
              <%= link_to "Destroy", produto_path(produto), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %> 
            </td>
            
            <td>
              <%= form_with(url: adicionar_ao_estoque_path, method: :post) do |form| %>
                <%= form.hidden_field :user_id , value:current_user.id%>
                <%= form.hidden_field :produto_id , value:produto.id%>

                <%= form.number_field :quantity, placeholder: 'Quantidade' %>
                <%= button_tag(type: 'submit', class: 'btn btn-primary btn-sm') do %>
                  Incluir na compra
                <% end %>
              <% end %>

            </td>
            -->
            <td>
              <%= form_with(url:incluir_produtos_path) do |f|%>
                <% f.hidden_field :compra_id %>
                manda o id o produto da find no controller e faz o create dele la
                <% f.hidden_field :produto_id , value:produto.id%>
                <%=f.number_field :quantity, step:0.01, placeholder: 'Quantidade' %>
                
    
                <%= f.submit 'Incluir produto', class: 'btn btn-block btn-primary' %>
      
                
              <% end %>
            
            </td>

            
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>



<p>Selecione a quantidade e adicione no estoque</p>
<div class="card">
  <div class="card-body">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Unidade</th>
          <th>Preço</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% @produtos.each do |produto| %>
          <tr>
            <td><%= produto.nome %></td>
            <td><%= produto.unidade %></td>
            <td><%= number_to_currency(produto.preco) %></td>
            <td><%= number_to_currency(produto.preco_compra) %></td>
            

           <td><%= link_to "Editar", edit_produto_path(produto), class: "btn btn-warning btn-sm" %></td> 

            
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


