


<% if user_signed_in? %> 
 <div> Welcome <%= current_user.email %> </div> 
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
<% else %>
  <%= button_to "Sign in", new_user_session_path %> 

<% end %>


<ul>


    <li><%= link_to "Novo Produto", new_produto_path %></li>
    <li><%= link_to "Estoque", inventorylists_path%></li>


</ul>



<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Preço</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @produtos.each do |produto| %>
      <tr>
        <td><%= produto.nome %></td>
        <td><%= number_to_currency(produto.preco) %></td>
        
       <!--  <td>
          <%= link_to "Destroy", produto_path(produto), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %> 
        </td>
        -->
        <td>
          <%= form_with(url: adicionar_ao_estoque_path, method: :post) do |form| %>
            <%= form.hidden_field :user_id , value:current_user.id%>
            <%= form.hidden_field :produto_id , value:produto.id%>

            <%= form.number_field :quantity, placeholder: 'Quantidade' %>
            <%= form.submit 'Adicionar quantidade ao estoque' %>
          <% end %>

          
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<!--

<form class="form" >
  <div class="section">
    <div class="control-group">
      <label class="control-label">Selecione algo</label>
      <select class="control">
            <option disabled>Selecione Algo</option>
      </select>
    </div>
  </div>

  <div class="section">
    <div class="control-group">
      <label class="control-label">Escreva algo</label>
      <input type="text" class="control"/>
    </div>

  </div>
</form>


-->