
<div class="card">
  <div class="card-header">
    <div class="form-inline " style="justify-content: space-between;">
      <h1 class="mr-3">Fazer uma venda</h1>
      <%= render "vendas/cliente" %>
      <%= link_to "Nova Venda", vendas_path, class: "btn btn-warning mr-3" %>
    </div>
    
  </div>
  <% if @cliente.present? %>
    <div class="card-body">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Preço</th>
            <th>Quantidade</th>
          </tr>
        </thead>
        <tbody>
          <% @produtos.each do |produto| %>
            <tr>
              <td><%= produto.nome %></td>

              <td><%=number_to_currency(produto.preco, unit: 'R$' , separator: ',' , delimiter: '.' ) %></td>

              <td>
                <%= form_with(url: add_path) do |f| %>
                  <%= f.hidden_field :cliente_id , value: @cliente.id%>
                  <%= f.hidden_field :user_id, value: current_user.id %>
                  <%= f.hidden_field :id, value: produto.id %>
                  <%= f.number_field :quantity, step:0.01, value: 0, min: 1 %>
                  <%= button_tag(type: 'submit' , class: 'btn btn-primary btn-sm' ) do %>
                    <i class="fas fa-cart-plus fa-lg mr-2"> Adicionar</i>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end%>
</div>


