<!---->
<h1>Fazer uma venda</h1>
<p>Selecione o Id do cliente e a quantidade do produto<P>

  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="clienteDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Lista de Clientes
    </button>
    <div class="dropdown-menu" aria-labelledby="clienteDropdown">
      <% Cliente.all.each do |cliente| %>
        <a class="dropdown-item" href="#" data-cliente-id="<%= cliente.id %>">
          <%= "#{cliente.id} - #{cliente.nome}" %>
        </a>
      <% end %>
    </div>
  </div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Preço</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @produtos.each do |produto| %>
      <tr>
        <td><%= produto.nome %></td>
        <td><%= number_to_currency(produto.preco) %></td>

        <td>
          <%= form_with(url: add_path) do |f| %>
            <%= f.label :cliente_id, "ID do Cliente"  %>
            <%= f.number_field :cliente_id %>

            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.hidden_field :id, value: produto.id %>
            <%= f.number_field :quantity, value: 0, min: 1 %>

            <%= button_tag(type: 'submit', class: 'btn btn-primary btn-sm') do %>
              <i class="fas fa-cart-plus fa-lg mr-2"> Adicionar</i>
            <% end %>

          <% end %>
          
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

