<!DOCTYPE html>
<html>
  <head>
    <title>Blabla</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body data-scrollbar-auto-hide="n" class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
      <%= render "layouts/header2" %>
      <%= render "layouts/sidebar" %>
      

      <div class="content-wrapper">
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <% if user_signed_in?%>              
                  <%= render partial: "carts/cart" if @render_cart %>
                  <%= current_user.wallet.balance%>
                  <%= link_to "Home", home_path%>
                <% end %>
                <%= yield %>
              </div><!-- /.col -->              
            </div><!-- /.row -->
          </div><!-- /.container-fluid -->
        </div>

        <div class="content container-fluid">
          <div class="container-fluid">            
          </div>
        </div>
      </div>

      <%= render "layouts/footer" %>
      <%= render "layouts/controlsidebar" %>
    <div>
</body>
</html>
