<!DOCTYPE html>
<html>
  <head>
    <title>Tcc</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render partial: "carts/cart" if @render_cart %>
    <%= link_to "Home", home_path%>
    <% if user_signed_in?%>
      <%= current_user.wallet.balance%>
    <% end %>
    
    <%= yield %>
  </body>
</html>
