<!DOCTYPE html>
  <html>
    <head>
      <title>Madeireira Ideal</title>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag "application"%>
      <%= javascript_importmap_tags %>
      
    </head>

    <body class="layout-top-nav">
      <div class="wrapper">
        <%= render "layouts/header" %>
        <div class="content-wrapper"> 
          <div class="content">
            <div class="container">            
              <% if user_signed_in?%>
                <%= render partial: "carts/cart" if @render_cart %>              
              <% end %>
              
              <%= yield %>    
              
            </div>
          </div>      
        </div>
        <%= render "layouts/footer" %>
      <div>
      
    </body>
  


  </html>
